.kitchen-image .card {
  box-shadow: 6px 6px 15px 0px black;
}
.menu {
  border-bottom: 1px solid;
}
.kitchen-content {
  border-left: 1px solid;
}
.menu-list {
  padding: 35px;
  border-bottom: 1px solid #e5e5e5;
}
